*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Noto sans;
}

body {
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 64rem;
  margin: 0 auto;
}

.btn {
  background: var(--clr-accent, blue);
  display: inline-block;
  padding: 0.5rem 1.25rem;
  color: var(--clr-text, #fff);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  transition: transform 250ms ease-in-out, opacity 175ms ease-in;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 15rem 0;
  background: #222;
  color: #fff;

  @supports (background-blend-mode: multiply) {
    background-blend-mode: multiply;
    background: url('../img/shoe-3.png'), radial-gradient(#444, #111);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

section {
  padding: 7rem 0;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  color: #17353d;
  line-height: 1;
  margin-bottom: 3rem;
}

.split {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  & > * {
    flex-basis: 15em;
  }
}

.featured {
  background: #eee;

  &__item {
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    color: #333;

    &:hover,
    &:focus {
      transform: scale(1);
    }

    &:after {
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      background: #2193b0;
      z-index: -1;
      padding: 75% 75% 0 0;
      border-radius: 50%;
    }
  }

  &__details {
    span {
      display: block;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }
}
