*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Noto sans;
}

body {
  margin: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 64rem;
  margin: 0 auto;
}

.btn {
  background: var(--clr-accent, blue);
  display: inline-block;
  padding: 0.5rem 1.25rem;
  color: var(--clr-text, #fff);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  -webkit-transition: opacity 175ms ease-in, -webkit-transform 250ms ease-in-out;
  transition: opacity 175ms ease-in, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 175ms ease-in;
  transition: transform 250ms ease-in-out, opacity 175ms ease-in, -webkit-transform 250ms ease-in-out;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 15rem 0;
  background: #222;
  color: #fff;
  --clr-accent: #faa700;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background-blend-mode: multiply;
    background: url("../img/shoe-3.png"), radial-gradient(#444, #111);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

section {
  padding: 7rem 0;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  color: #17353d;
  line-height: 1;
  margin-bottom: 3rem;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.split > * {
  -ms-flex-preferred-size: 15em;
      flex-basis: 15em;
}

.split > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.featured {
  background: #eee;
}

.featured__item {
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  color: #333;
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  background: #2193b0;
  z-index: -1;
  padding: 75% 75% 0 0;
  border-radius: 50%;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(var(--clr-inner, gray), var(--clr-outer, #2193b0));
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.product__title {
  font-size: clamp(2rem, calc(5vw + 1rem), 4rem);
  color: #fff;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
  line-height: 1.1;
}

.product__img {
  margin: -5rem 0 0 0;
}

@media (min-width: 45rem) {
  .product {
    text-align: left;
    margin-bottom: 9rem;
  }
  .product__title {
    margin: 0;
  }
  .product__img {
    float: right;
    width: 65%;
    shape-outside: url(../img/shoe-1.png);
    margin: 0 -5rem 0 0;
  }
  .product.shoe-left {
    text-align: right;
  }
  .product.shoe-left .product__img {
    float: left;
    shape-outside: url(../img/shoe-2.png);
    shape-margin: 2rem;
    margin: 0 0 0 -5rem;
  }
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}
/*# sourceMappingURL=main.css.map */